.main-container{
    width: 1500px;
}

.maincontainer{
    display: flex;
    position: relative;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.header{
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.header h1{
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px solid #d1d5db;
    padding-bottom: 0.5rem;
}

.sidebar{
    height: 800px;
    width: 25%;
}

.sidebar-1{
    margin-top: 20px;
    margin-left: 100px;
    padding-left: 50px;
    display: grid;
    gap: 1rem;
}

.filter{
    display: flex;
    background-color: #e6e9ecd8;
    padding-top: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filter:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.filter h4{
    font-size: 20px;
    padding-left: 15px;
}

.button-filter{
    height: 25px;
}

.filter-button{
    height: 25px;
    transform: translateY(-20px);
    background-color:   #e6e9ecd8;
}

.filter-button h6{
    font-size: 20px;
    transform: translateY(-12px);
}

.main{
    padding-left: 50px;
    width: 100px;
    display: flex;
    gap: 25px;
}